# Markdown  Basics

* **BOLD** <br>
* **Italic**
* Normal Text
  * sublist1
  * sublist 2
  

1. Ordered list 1
2. Ordered List 2
3. Ordered List 3

[Jupyter Logo](th.jpg)


![Jupyter Logo](th.jpg)

<img src="th.jpg" style="float:left">

 # Python Basics
   ## python version 3.7
   
   - Scripting
   - Object Oriented

In [9]:
# Python Comments
print("Good Afternoon","!")# Basic Output
print("Hello Python")

Good Afternoon !
Hello Python

### Assignment

In [19]:
n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi variable Assignment

a , b , c = 123, 234, 345

print(a,b,c)

123 234 345

### Data Types and Number Conversions
- int
- float
- string

In [41]:

type(a)
s1="python"
type(s1)

f1=3.14
type(f1)

int(f1)
str(int(f1))
float(str(int(f1)))

3.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [20]:
n1

123456

In [57]:
n1 % 11

n3 = n2 ** 123

type(n3)

len(str(n3))

627

### Conditionals

In [54]:
atoms < 10**9

if atoms < 10 ** 96:
    print("True")
else:
    print("False")

True